
  .color{
     color:white;
  }
   form{
     color:white;
  }
 input[type=text],[type=password],[type=email]{
   width:95%;
   margin-left:10px;
   height:5px;
   padding-left:15px;
   padding-top:20px;
   padding-right:15px;
   padding-bottom:20px;
}

  .center{
     text-align:center;
  }
  .button{
     width:95%;
     background-color:#007bb6;
     border:none;
     font-size:22px;
     border-radius:2px;
     cursor:pointer;
     margin-left:10px;
  }
  .padding{
     padding-top:15px;
     padding-bottom:25px;
}
  h1{
     background-color:#333333;
     color:white;
     font-family:sans-serif;
  }
 .container{
     width:100%;
     max-width:400px;
     background-color:#3D3D40;
     margin:auto;
}
a{
  color:white;
  text-decoration:none;
}
